@charset "utf-8";
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

body {
  color: #606468;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input, textarea {
  font-size: 14px;
  line-height: 1.5em;
}

p, .form h3, .form label {
  line-height: 1.5em;
}

h3 {
  font-size: 17px;
  color: #eee;
}

.form h3 {
  text-align: center;
}

.form form input[type="text"], .form form input[type="number"] {
  color: #606468;
}

.form form textarea {
  color: #606468;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;  
}

.form form select {
  color: #eee;
}

.form form input:focus {
  color: #fff;
}

.button {
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

header h3, header .user-info {
  line-height: 50px;
}

table {
  color: #fff;
}

table td, table th {
  line-height: 40px;
}

article .content {
  color: #fff;
}