<div>
  <section class="form">
    <h3>Авторизация</h3>
    <form novalidate>
      <fieldset class="clearfix">
	<p><input type="text" placeholder="Логин" name="login" required></p>
	<p><input type="submit" value="ВОЙТИ" class="button"></p>
      </fieldset>
    </form>
    <p class="left">Нет аккаунта?</p>
    <p class="right"><a href="#" id="reg-customer">Регистрация клиента</a></p>
    <p class="right"><a href="#" id="reg-performer">Регистрация исполнителя</a></p>
  </section>
</div>  
