<div id="performer_creation">
  <section class="form">
    <h3>Создание исполнителя</h3>
    <form novalidate>
      <fieldset class="clearfix">
	<p><input type="text" placeholder="Логин" name="login" required></p>
	<p><input type="submit" value="СОЗДАТЬ" class="button"></p>
      </fieldset>
    </form>
  </section>
</div> 
