<div id="performer_registration">
  <section class="form">
    <h3>Регистрация исполнителя</h3>
    <form action="javascript:void(0);" method="get" novalidate>
      <fieldset class="clearfix">
	<p><input type="text" placeholder="Логин" name="login" required></p>
	<p><input type="submit" value="ВОЙТИ" class="button"></p>
      </fieldset>
    </form>
  </section>
</div> 
