<div id="select_performer">
  <section class="form">
    <h3>Выбор исполнителя</h3>
    <form action="javascript:void(0);" method="get" novalidate>
      <fieldset class="clearfix">
	<label>Исполнитель<br>
	  <select name="priority" required>
	    <option></option>
	  </select>
	</label>
	<p><input type="submit" value="Выбрать" class="button"></p>
      </fieldset>
    </form>
  </section>
</div> 
